POSTGRES_DB=partitio
POSTGRES_USER=partitio
POSTGRES_PASSWORD=partitio

BACKEND_PORT=3000
FRONTEND_PORT=8081

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/partitio
SPRING_DATASOURCE_USERNAME=partitio
SPRING_DATASOURCE_PASSWORD=partitio

FLYWAY_URL=jdbc:postgresql://postgres:5432/partitio
FLYWAY_USER=partitio
FLYWAY_PASSWORD=partitio
