POSTGRES_DB=partitio
POSTGRES_USER=partitio
POSTGRES_PASSWORD=partitio

BACKEND_PORT=3000
FRONTEND_PORT=8081

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/partitio
SPRING_DATASOURCE_USERNAME=partitio
SPRING_DATASOURCE_PASSWORD=partitio

FLYWAY_URL=jdbc:postgresql://postgres:5432/partitio
FLYWAY_USER=partitio
FLYWAY_PASSWORD=partitio


JWT_SECRET=change-moi-avec-une-cle-longue-et-secrete
JWT_EXPIRATION_SECONDS=3600
JWT_COOKIE_NAME=partitio_token
JWT_COOKIE_SECURE=false
