$green-800: #185947;
$light-green: #e6ede1;

.boutonBottom {
    display: flex;
    flex-direction: row;
    column-gap: 10px;

    align-items: center;
    align-self: center;
    justify-content: center;

    padding: 10px;

    height: fit-content;
    width: fit-content;

    background-color: $light-green;
    border: 2px solid $green-800;
    border-radius: 10px;

    cursor: pointer;

    svg {
        height: 24px;
        width: 24px;

        color: $green-800;
    }

    .boutonTexte {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            font-family: "Inter";
            font-size: 20px;
            font-weight: 700;
            line-height: 1;
            color: $green-800;
        }
    }
}