PARTITIO_IMAGE=ghcr.io/OWNER/REPOSITORY

PARTITIO_DEV_IMAGE_TAG=dev
PARTITIO_DEV_BIND_ADDRESS=127.0.0.1
PARTITIO_DEV_HTTP_PORT=8081

PARTITIO_PROD_IMAGE_TAG=prod
PARTITIO_PROD_BIND_ADDRESS=127.0.0.1
PARTITIO_PROD_HTTP_PORT=8080
