POSTGRES_DB=partitio_prod
POSTGRES_USER=partitio_prod
POSTGRES_PASSWORD=change-me-prod-db-password

FLYWAY_URL=jdbc:postgresql://partitio-prod-db:5432/partitio_prod
FLYWAY_USER=partitio_prod
FLYWAY_PASSWORD=change-me-prod-db-password
