POSTGRES_DB=partitio_dev
POSTGRES_USER=partitio_dev
POSTGRES_PASSWORD=change-me-dev-db-password

FLYWAY_URL=jdbc:postgresql://partitio-dev-db:5432/partitio_dev
FLYWAY_USER=partitio_dev
FLYWAY_PASSWORD=change-me-dev-db-password
