$light-green: #e6ede1;
$green-800: #185947;

$light-orange: #ffedd2;
$orange: #fd8219;

$light-purple: #efe7f2;
$purple: #552bb7;

$light-blue: #dee7f2;
$blue: #0f5ad7;

$muted: #6f7b75;

.ensemble {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;

    height: fit-content;
    width: 100%;
    margin: 0 15px;

    .ensembleImage {

        border-radius: 100px;
        padding: 15px;
        
        height: fit-content;
        width: fit-content;

        svg {
            height: 48px;
            width: 48px;
        }
    }
}

.ensembleImage.green {
    background-color: $light-green;
    svg {
        color: $green-800;
    }
}

.ensembleImage.orange {
    background-color: $light-orange;
    svg {
        color: $orange;
    }
}

.ensembleImage.purple {
    background-color: $light-purple;
    svg {
        color: $purple;
    }
}

.ensembleImage.blue {
    background-color: $light-blue;
    svg {
        color: $blue;
    }
}

.ensembleTexte {
    display: flex;
    flex-direction: column;

    height: fit-content;
    width: fit-content;

    p {
        font-family: "Inter";
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
        color: $muted;
    }

    #ensembleName {
        font-size: 24px;
        font-weight: 700;
    }

}